// colors
$color-primary: #ACA9BB;
$color-primary-l1: #DCD9EC;

$color-secondary: #FFE3F3;

$color-white: #fff;

$color-white-d1: #f8f8f8;

$color-white-d2: #f7f7f7;

$color-error: #88282E;
$color-error-l1: #bd3e1b;

$color-success: #0CC197;
$color-success-l1: #91E17F;

$color-gray: #6C7888;
$color-gray-l1: #919191;
$color-gray-l2: #e4e4e4;

// box shadow
$box-shadow: 0 4px 7px #e7e7e7;