<div class="app">
  <header><h2 class="app__title">{{ title }}</h2></header>
  <div class="app__content card">

    <div class="weather card__body" key="selectedWeather.code">
      <div *ngIf="isLoading" class="weather__loader">
        <app-loader></app-loader>
      </div>
      <div  *ngIf="!isLoading" class="weather__content">
        <h2 class="weather__title">{{ selectedWeather?.locationName }}</h2>
        <h1 class="weather__temperature">{{ selectedWeather?.temperature }}</h1>
        <div class="weather__details">
          <img [src]="selectedWeather?.icon" class="weather__icon" />
          <p class="weather__summary">{{ selectedWeather?.summary }}</p>
        </div>
      </div>
      <div *ngIf="!weatherList.length && !isLoading" class="weather__no-data">
        <h5>NO WEATHER</h5>
      </div>
    </div>

    <div class="app__search card__section--dark">
      <div class="card__body">
        <app-search [optionList]="locationOptionsList" [isLoading]="isLocationLoading" (inputEvent)="onInput($event)" (selectOptionEvent)="onLocationSelect($event)"></app-search>
      </div>
      <ul class="weather-list">
        <li *ngFor="for let weather of weatherList; index as i" key="selectedWeather.code" (click)="onWeatherSelect(weather)" >
          <div class="weather-card card card--size-s card--hoverable">
            <div class="weather-card__details card__body">
              <h6 class="card__header">{{ weather?.locationName }} <app-button [icon]="weatherRemoveIcon" [size]="weatherRemoveIconSize" (click)="onWeatherRemove(i)"></app-button></h6>
              <span>{{ weather?.temperature }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>